[AdaptiveTransparency]
enabled=true

[Desktop Entry]
Name=Alex's Custom Theme
X-KDE-PluginInfo-Author=Alex Thomson
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=alexjthomson1882@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=Alex's Custom Theme
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://alexthomson.dev

[Wallpaper]
defaultFileSuffix=.png
defaultHeight=1440
defaultWallpaperTheme=WhiteSur
defaultWidth=2560
